---
layout: default
---


<!-- Header image -->
<img src="assets/img/header.PNG"
     alt="Header Photo"
     style="
       width:100%;
       max-height:400px;
       object-fit:cover;
       object-position:top;
       border-radius:16px;
     ">

                <br>
                <br>
<h1 id="about">About Me</h1>
<p style="font-size:18px">
  I am an <b><a href="https://www.nsfgrfp.org/about.html">NSF Graduate Research Fellow</a></b> in the <b><a
                      href="http://generalroboticslab.com/">General Robotics Lab</a></b> at Duke University, advised by <b><a
                      href="http://boyuanchen.com/">Boyuan Chen</a></b>. Prior to joining the GRL, I was a member of the <b><a href="https://scholar.google.com/citations?user=Ostxg-sAAAAJ&hl=en&authuser=1">Dynamical Systems Lab</a></b> advised by
                     <b> <a href="https://mems.duke.edu/people/brian-mann/">Brian Mann</a></b>.
                
                <br>
                <br>
                  I research <b>robotics</b>, <b> dynamical systems/mechanics</b>, <b>learning</b>, and <b>optimization</b>. Recently, I've been focused on developing smooth neural dynamics for <b>model-based reinforcement learning and whole-body control</b>. I also like physiology and biomechanics, which I studied as an undergrad. 

                <br>
                <br>
                  I like working on challenging problems that sit at the intersection of multiple fields, and I enjoy using <b>accelerated computing</b>, <b>differentiable programming</b>, and <b>numerical methods</b>  to tackle these problems. 

                <br>
                <br>
                  In my free time, I enjoy watching Cincinnati sports (regrettably), calisthenics/weight lifting, all things outdoors, and just hanging out with my cat, Molly. I might also be one of the only valid Kentucky and Duke fans out there.

                  <br><br>
                <span style="color:#dd2814;">
                  <b>I am actively seeking a full-time position in industry or academia after my graduation in summer 2026. Please feel free to contact me if my background aligns with your interests.</b>
                </span>

</p>

<!-- <h1 id="news">News</h1>
{% include news.html %} -->


<h1 id="project">Research</h1>
{% include projects.html %}

<!-- Let's keep Publications and Patents adjacent  -->
<!-- <h1 id="publication">Publications</h1> -->
<!-- include publications.html -->
<!-- <h1 id="pat">Patents</h1> -->
<!-- include patents.html -->

<h1 id="education">Education</h1>
{% include education.html %}

<!-- <h1 id="experience">Experience</h1>
{% include experience.html %} -->

<!-- <h1 id="hon">Honors & Awards</h1> -->
<!-- include awards.html -->

<!-- ! make images in zoom class clickable -->
<div id="image-cover-modal" class="image-cover-modal">
  <img id="image-cover-image" class="image-cover-modal-content">
  <!-- <div id="image-cover-caption"></div> -->
</div>

<script src="assets/js/img_zoom.js"></script>
