<table class="experience">
  <tbody>
    <tr>
      <td>
      <img
        width="50"
        src="assets/img/duke_engineering_logo.jpeg"
        style="border-radius:8px;"
      >
      </td>
      <td>
        <font color="black"><b>Duke University - Durham, NC, USA</b></font>
        <br>
        2026 (expected), Ph.D. in Mechanical Engineering and Materials Science
      </td>
    </tr>
      <td>
        <img
          width="50"
          src="assets/img/universityofkentucky_logo.jpeg"
          style="border-radius:8px;"
        >
      </td>
      <td>
        <font color="black"><b>University of Kentucky - Lexington, KY, USA</b></font>
        <br>
        2019,  B.S. in Exercise Science and Statistics (Topical Studies)
      </td>
    </tr>
  </tbody>
</table>
