<table class="projects">
  <tbody>
    <!-- ! Learned Legged MPC with Smooth Neural Surrogates -->
    <tr class="featured"><td>
      <div class="featured_project">
        <img src="assets/img/thumbnail.gif" class="featured_media">

        <p style="font-size:24px;margin-bottom: 0px;">
          <font color="black"><b>Learning Legged MPC with Smooth Neural Surrogates</b></font>
        </p>

        <p class="featured_links">
          [<a href="http://generalroboticslab.com/SNS-MPC" target="_blank">Project page</a>]
          [<a href="https://arxiv.org/abs/2601.12169" target="_blank">Paper</a>]
          [<a href="https://github.com/generalroboticslab/SNS-MPC" target="_blank">Code</a>]
          [<a href="https://youtu.be/ViwE7hVG-J4?si=Nq25zR65D3Kooub8" target="_blank">YouTube</a>]
        </p>

        <p class="featured_desc">
          We introduce a neural dynamics model that is scalable, generalizes reliably, and excels at gradient-based optimization at test time. The result is the smooth neural surrogate: an architecture with explicit smoothness control to attenuate stiff contact transitions and interpolate reliably in regions where data are sparse or standard neural networks fail.
        </p>
      </div>
    </td></tr>

    <!-- ! Sym2Real: Symbolic Dynamics with Residual Learning for Data-Efficient Adaptive Control -->
    <tr><td>
      <div class="project_cell">
        <img src="assets/img/sym2real.gif" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>Sym2Real: Symbolic Dynamics with Residual Learning for Data-Efficient Adaptive Control</b></font>
        </p>
        <p>
          [<a href="http://generalroboticslab.com/Sym2Real" target="_blank">Project page</a>]
          [<a href="https://arxiv.org/abs/2509.15412" target="_blank">Paper</a>]
          [<a href="https://github.com/generalroboticslab/sym2real" target="_blank">Code</a>]
          [<a href="https://youtu.be/KAfbwpL0qiM?si=okKcxbHK1qAuVhAx" target="_blank">YouTube</a>]
          <br>
           We present a data-driven framework for training low-level adaptive controllers in a highly data-efficient manner. Using only about 10 trajectories, we achieve robust control of both a quadrotor and a racecar in the real world, without expert knowledge or simulation tuning.      
        </p>
      </div>
    </td></tr>
    <!-- ! Automated Global Analysis of Experimental Dynamics through Low-Dimensional Linear Embeddings -->
    <tr><td>
      <div class="project_cell">
        <img src="assets/img/AGA_website.gif" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>Automated Global Analysis of Experimental Dynamics through Low-Dimensional Linear Embeddings</b></font>
        </p>
        <p>
          [<a href="http://generalroboticslab.com/AutomatedGlobalAnalysis">Project page</a>]
          [<a href="https://arxiv.org/abs/2411.00989">Paper</a>]
          [<a href="https://github.com/generalroboticslab/AutomatedGlobalAnalysis">Code</a>]
          [<a href="https://youtu.be/8Q5NQegHz50?si=FtEGQ1cFmvQyqIf3">YouTube</a>]
          <br>
          This work presents an end-to-end approach for discovering hidden stuctures in experimental data from dynamical systems. We simulaneously address challenges in applied dynamical systems due to mathematical modelling, nonlinearity, and high dimensionality through low-dimensional linear embeddings of nonlinear dynamics.
        </p>
      </div>
    </td></tr>
    <!-- ! LAPP: Large Language Model Feedback for Preference-Driven Reinforcement Learning -->
    <tr><td>
      <div class="project_cell">
        <img src="assets/img/LAPP.gif" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>LAPP: Large Language Model Feedback for Preference-Driven Reinforcement Learning</b></font>
        </p>
        <p>
          [<a href="http://www.generalroboticslab.com/LAPP">Project page</a>]
          [<a href="https://arxiv.org/abs/2504.15472">Paper</a>]
          [<a href="https://github.com/generalroboticslab/LAPP">Code</a>]
          [<a href="https://www.youtube.com/watch?v=GQSvJMfbaXY">YouTube</a>]
          <br>
                      Here, we use LLMs to replace human feedback in preference-based reinforcement learning. Our method, Large Language Model Assisted Preference Prediction, leverages LLMs to generate feedback on agent behaviors, enabling efficient policy learning, and behavior shaping without explicit reward engineering.
        </p>
      </div>
    </td></tr>
    <!-- ! Semantic Visual Self-Modeling for Whole-Body Awareness in Legged Robots -->
    <tr><td>
      <div class="project_cell">
        <img src="assets/img/VSM.gif" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>Semantic Visual Self-Modeling for Whole-Body Awareness in Legged Robots</b></font>
        </p>
        <p>
          [<a href="https://github.com/samavmoore/SemanticSelfModel">Code</a>]
          <br>
          In this project, we developed learned 3D models of a legged robot's body to instill whole-body awareness for downstream planning or world models. I hope to soon combine this work with my ongoing research on smooth neural surrogates, and contact-rich control.
        </p>
      </div>
    </td></tr>

    <tr><td>
      <div class="project_cell">
        <img src="assets/img/Task-in-the-Loop_Workflow_vertical.png" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>Differentiable Direct Collocation for Hardware-Software Co-Design</b></font>
        </p>
        <p>
          [<a href="https://github.com/samavmoore/diffipopt">Code</a>]
          <br>
         This project aimed to develop methods to understand how a system’s physical parameters influence its controllability, stability, maneuverability, etc.. I did this by differentiating through a closed-loop controller around a nominal trajectory obtained via trajectory optimization. I developed a differentiable direct collocation library in JAX via IPOPT and implicit differentiation, then obtained some preliminary results on a simple cart-pole.
        </p>
      </div>
    </td></tr>
    <!-- ! MACS -->
    <tr><td>
      <div class="project_cell">
        <img src="assets/img/MACS.gif" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>Comparison of Data-Driven Methods on Discovering the Dynamics of the Unforced Multi-axis Cart System</b></font>
        </p>
        <p>
          [<a href="https://link.springer.com/chapter/10.1007/978-3-031-68901-7_16">Paper</a>]
          <br>
        In this work, we compared various data-driven methods for uncovering the dynamics of the unforced multi-axis cart system. This system is particularly interesting as it can be configured as either a linear or nonlinear system, which enable us to evaluate the strengths and weaknesses of each method in both regimes.
        </p>
      </div>
    </td></tr>
    <!-- ! Milling-->
    <tr><td>
      <div class="project_cell">
        <img src="assets/img/Milling.gif" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>Stability Prediction via Parameter Estimation from Milling Time Series</b></font>
        </p>
        <p>
          [<a href="https://www.sciencedirect.com/science/article/pii/S0022460X23004030">Paper</a>]
          <br>
          We introduce an approach to automated milling stability analysis whereby the vibration behavior of a milling tool during
            cutting is used to directly obtain a bifurcation diagram of the system in real-time.
        </p>
      </div>
    </td></tr>

    <tr><td>
      <div class="project_cell">
        <img src="assets/img/HAL.gif" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>A Model-Free Sampling Method for Basins of Attraction Using Hybrid Active Learning</b></font>
        </p>
        <p>
          [<a href="https://wangxueshe.github.io/research/fast-boa">Project page</a>]
          [<a href="https://www.sciencedirect.com/science/article/am/pii/S1007570422001678">Paper</a>]

          <br>
          This work explores hybrid active learning as an efficient method to automatically discover the basins of attraction of dynamical systems.
        </p>
      </div>
    </td></tr>

    <tr><td>
      <div class="project_cell">
        <img src="assets/img/Hop_preds.png" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>Supervised Learning for Abrupt Change Detection in a Driven Eccentric Wheel</b></font>
        </p>
        <p>
          [<a href="https://link.springer.com/chapter/10.1007/978-3-031-04086-3_26">Paper</a>]
          <br>
          This paper compares supervised learning methods for phase identification (i.e., roll, slip, and hop) in simulated data from a driven eccentric wheel as a prototypical non-smooth system.
        </p>
      </div>
    </td></tr>

    <tr><td>
      <div class="project_cell">
        <img src="assets/img/disk.gif" width="250" class="zoom">
      </div>
      <div class="project_cell">
        <p style="font-size:18px;margin-bottom: 0px;">
          <font color="black"><b>The Eccentric Disk and Its Eccentric Behavior</b></font>
        </p>
        <p>
        [<a href="https://iopscience.iop.org/article/10.1088/1361-6404/ac2799/meta">Paper</a>]
          <br>
An eccentric disk has a non-constant normal force and therefore has four distinct phases of motion: oscillations about a stable equilibrium, roll without slip, roll with slip, and hop. In this work, the system is analytically modeled using an augmented Lagrangian formulation, solved with numerical integration, and experimentally realized.
        </p>
      </div>
    </td></tr>
  </tbody>
</table>
